%YAML:1.0

base_config: "../base.yaml"

preload: 1 # 0: disable; 1: enable # accelerate the loading process but will cost more memory
llff: 1 # 0: disable; 1: enable; every 8 frame will be used for evaluation

# dataset_type
#   Replica = 0,
#   R3live = 1,
#   NeuralRGBD = 2,
#   KITTI = 3,
#   FastLivo = 4,
dataset_type: 4
sh_degree: 3

min_range: 0.01
max_range: 100
ds_pt_num: 10000 # downsampled point number
max_pt_num: 1000000

outlier_remove: 1 # unnecessary for static scenes
outlier_dist: 0.05
outlier_removal_interval: 2000

# visualization
vis_resolution: 0.1 # better no more than leaf_sizes or will miss faces
export_resolution: 0.04
fps: 10